
.vs/VerifierSharp/FileContentIndex/

.vs/VerifierSharp/v17/

VerifierSharp.Tests/bin/Debug/net6.0/

VerifierSharp.Tests/obj/Debug/net6.0/

VerifierSharp.Tests/obj/

VerifierSharp/bin/Debug/net6.0/

VerifierSharp/obj/Debug/net6.0/

VerifierSharp/obj/

.vs/ProjectEvaluation/

.vs/VerifierSharp/DesignTimeBuild/
